/* Style the links inside the sidenav */

body {
  font-family: 'Lato', sans-serif;
  color: rgb(108, 240, 255);
  text-align:center;
  line-height: 1.6;
}
.main {
  
  margin-left: 160px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 10px 30px;
}

#viz1615840356110{
  grid-area: 1 / 2 / 4 / 5;
  margin-left: 50px; 
  top: 100px; 
  
}
#viz1615646646848{
  margin-left: 1350px; 
  width: 1300px; 
  top: -1100px;
  height: 1000px;

}#viz1615646660028{
  margin-left: 50px; 
  border: 2px solid rgb(0, 0, 0);
  width: 800px; 
  height: 1000px;
  top: -800px;
}



#viz1615608834177{
    position: absolute;
    top: -400px;
  }

#prediction
{
  float: left;
  position: absolute;
  grid-area: Line-chart;
  margin-left: 400px; 
  bottom: -1000px;

}
.container-fluid{
  background-color: rgb(108, 108, 108) ;
  padding: 10px;
  margin: 10px;

  display: inline-block;
  vertical-align: top;
}
.box{

  position: absolute;
  grid-area: Line-chart;
  margin-left: 700px; 
  bottom: -1300px;
  background-color: white;
}


#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -100px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 130px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: rgb(255, 255, 255); /* White text color */
    border-radius: 0 10px 10px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  
  #Home {
    top: 200px;
    background-color: #e38dff; /* Blue */
  }
  
  #Github{
    top: 350px;
    background-color: rgb(254, 173, 98) /* Light Black */
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(159, 159, 159);
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 5px;
  }
  
  .object{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 10;
    padding-top: 20px;
  }