<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <title>
      The Future of COVID-19
    </title>
  
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" media="print" onload="this.media='all'"/>
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"/></noscript>
  
    <!-- Icons -->
    <script defer src="https://kit.fontawesome.com/189832a678.js" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="/static/assets/css/style.css?v=1.1.0" media="print" onload="this.media='all'"/>
    <noscript><link rel="stylesheet" href="/static/assets/css/style.css?v=1.1.0"/></noscript>
  
    <!-- Specific CSS goes HERE -->

</head>


<body>


    <!-- Header -->
    <header>
    <div class="header pb-8 pt-5 pt-md-6 bg-secondary">
        <div class="container-fluid">
            <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                    <div class="card-body ">
                    <div class="row">
                        <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Cases</h5>
                        <span id="daily_confirmed_label" class="h2 font-weight-bold mb-0">0</span>
                        </div>
                        <div class="col-auto">
                        <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                            <i class="fas fa-virus"></i>
                        </div>
                        </div>



                </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                    <div class="card-body ">
                    <div class="row">
                        <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Deaths</h5>
                        <span id="daily_deaths_label" class="h2 font-weight-bold mb-0">0</span>
                        </div>
                        <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fa fa-skull-crossbones"></i>
                        </div>
                        </div>

                </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                    <div class="card-body ">
                    <div class="row">
                        <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Vaccinated</h5>
                        <span id="daily_death_rate_label" class="h2 font-weight-bold mb-0">0</span>
                        </div>
                        <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                            <i class='fas fa-clinic-medical'></i>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    </header>

<!--Side Nav Bar-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Brand -->
          <a class="navbar-brand pt-0" href="/">
            <img src="/static/assets/img/brand/blue.jpg" class="navbar-brand-img" alt="...">
          </a>
          <!-- User -->
          <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
              <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-info-circle"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
    
          </ul>
          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="./">
                    <img src="/static/assets/img/brand/white.png">
                  </a>
                </div>
                <div class="col-6 collapse-close">
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                    <span></span>
                    <span></span>
                  </button>
                </div>
              </div>
            </div>
    
            <!-- Navigation -->
            <ul class="navbar-nav">
              <li class="nav-item home-item">
              <a class=" nav-link active text-light fade-in-left " href="/"><i class="fas fa-home text-primary "></i>Home
                </a>
              </li>
            </ul>


            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3 ">
    
              <li class="nav-item">
                <a class="nav-link text-muted fade-in-left" href="https://github.com/Marcellisv/Final_Project" target="_blank">
                  <i class="fab fa-github " style="font-size:1.1rem;"></i>Code
                </a>
              </li>
    
              <li class="nav-item data-item">
                <a class="nav-link text-muted fade-in-left" href="data.html">
                  <i class="fas fa-database"></i>Data
                </a>
              </li>
    
            </ul>
          </div>
        </div>
      </nav>


<!-- Specific JS goes HERE --> 
  



<!-- Footer -->

</body>

</html>