<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>The Future of Covid</title>
  </head>
  <body>
  <nav>
    <div id="mySidenav" class="sidenav">
      <a class="active" href="index.html" id="Home"><i class="bi bi-house-fill"></i></i></i>Home</a>    
      <a href="data/covid_data.html" id="Data"><i class="bi bi-file-spreadsheet-fill"></i>Data</a>
      <a href=https://github.com/Marcellisv/Final_Project id="Github"><i class="bi bi-github"></i>Github</a>
    </div>
  </nav>
<!-- Header -->
<div class="main">
  <div class="header pb-8 pt-5 pt-md-6 bg-secondary">
  <div class="container-fluid">
      <div class="header-body">
      <!-- Card stats -->
      <div class="row">
          <div class="col-xl-3 col-lg-6">
          <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
              <div class="card-body ">
              <div class="row">
                  <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Vacinations Administered in the United States Since 01/12/2021</h5>
                  <span id="daily_confirmed_label" class="h2 font-weight-bold mb-0">0</span>
                  </div>
                  <div class="col-auto">
                  <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                      <i class="fas fa-virus"></i>
                  </div>
                  </div>
              </div>
              </div>
          </div>
          </div>
          <div class="col-xl-3 col-lg-6">
          <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
              <div class="card-body ">
              <div class="row">
                  <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Cases In the US Since the First Vaccination</h5>
                  <span id="daily_deaths_label" class="h2 font-weight-bold mb-0">0</span>
                  </div>
                  <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fa fa-skull-crossbones"></i>
                  </div>
                  </div>
              </div>
              </div>
          </div>
          </div>
          <div class="col-xl-3 col-lg-6">
          <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
              <div class="card-body ">
              <div class="row">
                  <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Cases In the US Since the First Vaccination</h5>
                  <span id="daily_death_rate_label" class="h2 font-weight-bold mb-0">0</span>
                  </div>
                  <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fa fa-percent"></i>
                  </div>
                  </div>
              </div>
              </div>
          </div>
          </div>
      </div>
      </div>
  </div>
</div>
  <div class="content">
    <div class="container-fluid">
      <section>
        <div class="container-fluid mt--7 bg-secondary">
          <div class="row">
            <div class="col-xl-10 mb-5 mb-xl-0"> 
              <hr>
              <div class='tableauPlaceholder' id='viz1615589999966' style='position: relative'><noscript><a href='#'>
                <img alt=' 'src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CX&#47;CX75JHDFM&#47;1_rss.png' style='border: none' /></a>
                </noscript>
                   <object class='tableauViz'  style='display:none;'>
                      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                      <param name='embed_code_version' value='3' /> 
                      <param name='path' value='shared&#47;CX75JHDFM' /> 
                      <param name='toolbar' value='yes' />
                      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CX&#47;CX75JHDFM&#47;1.png' /> 
                      <param name='animate_transition' value='yes' />
                      <param name='display_static_image' value='yes' />
                      <param name='display_spinner' value='yes' />
                      <param name='display_overlay' value='yes' />
                      <param name='display_count' value='yes' />
                      <param name='language' value='en' />
                    </object>
              </div>                
  
              <script type='text/javascript'>                    
                var divElement = document.getElementById('viz1615589999966');                    
                var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1016px';vizElement.style.height='991px';                    
                var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
              </script>
               </div>
        </div>
    </div>
    </div>
    <div class="content">
      <div class="container-fluid">
        <section>
          <div class="container-fluid mt--7 bg-secondary">
            <div class="row">
              <div class="col-xl-2 col-md-7 col-lg-6">
                      <div class='tableauPlaceholder' id='viz1615590960011' style='position: relative'>
                      <noscript>
                      <a href='#'>
                      <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;To&#47;TotalVacinationsperDayintheUS&#47;VaccinationsAdministeredPerDayintheUS&#47;1_rss.png' style='border: none' />
                      </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' /> 
                        <param name='site_root' value='' />
                        <param name='name' value='TotalVacinationsperDayintheUS&#47;VaccinationsAdministeredPerDayintheUS' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;To&#47;TotalVacinationsperDayintheUS&#47;VaccinationsAdministeredPerDayintheUS&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='en' /></object>
                        </div>                
             <script type='text/javascript'>    
                var divElement = document.getElementById('viz1615590960011');                
                var vizElement = divElement.getElementsByTagName('object')[0];                    
                vizElement.style.width='100%';
                vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                   
                var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);               
              </script>
           </div>
        </section>
       </div>
      </div>
    </div>
    <div class='tableauPlaceholder' id='viz1615591917077' style='position: relative'>
      <noscript>
         <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Am&#47;AmountofPeoplevacinatedPerHundred&#47;AmountofPeoplevacinatedPerHundredasof03032021&#47;1_rss.png' style='border: none' /></a>
      </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
          <param name='embed_code_version' value='3' /> 
          <param name='site_root' value='' />
          <param name='name' value='AmountofPeoplevacinatedPerHundred&#47;AmountofPeoplevacinatedPerHundredasof03032021' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Am&#47;AmountofPeoplevacinatedPerHundred&#47;AmountofPeoplevacinatedPerHundredasof03032021&#47;1.png' /> 
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en' />
         </object>
      </div>               
    <script type='text/javascript'>                    
      var divElement = document.getElementById('viz1615591917077');                   
      var vizElement = divElement.getElementsByTagName('object')[0];                   
      vizElement.style.width='100%';
      vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                   
      var scriptElement = document.createElement('script');                   
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                 
       vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>
      
</body>
</html>
</div>
   
</body>
</html> 

